In [1]:
import re

if re.match(r"Cookie", "aCookie"):
  print("Match!")
else:
    print("not a match")

not a match

In [48]:
one=re.search(r'chennai','I am from chennai')
one

In [52]:
one=re.findall(r'chennai','I am chennai from chennai')
one

['chennai', 'chennai']

In [53]:
one=re.split(r't','mithun')
one

['mi', 'hun']

In [55]:
one=re.split(r'i','chennai is great')
one

['chenna', ' ', 's great']

In [100]:
one=re.split(r'i','chennai is great',maxsplit=1)
one

['chenna', ' is great']

In [57]:
one=re.sub(r'chennai','csk','chennai is great')
one

'csk is great'

In [62]:
one=re.findall(r'.','chennai is great')
one

['c',
 'h',
 'e',
 'n',
 'n',
 'a',
 'i',
 ' ',
 'i',
 's',
 ' ',
 'g',
 'r',
 'e',
 'a',
 't']

In [63]:
one=re.findall(r'\w','chennai is great')
one

['c', 'h', 'e', 'n', 'n', 'a', 'i', 'i', 's', 'g', 'r', 'e', 'a', 't']

In [64]:
one=re.findall(r'\w*','chennai is great')
one

['chennai', '', 'is', '', 'great', '']

In [65]:
one=re.findall(r'\w+','chennai is great')
one

['chennai', 'is', 'great']

In [67]:
one=re.findall(r'^\w+','chennai is great')
one

['chennai']

In [68]:
one=re.findall(r'\w+$','chennai is great')
one

['great']

In [70]:
one=re.findall(r'\w\w','china tops the world for population')
one

['ch', 'in', 'to', 'ps', 'th', 'wo', 'rl', 'fo', 'po', 'pu', 'la', 'ti', 'on']

In [75]:
one=re.findall(r'\b\w.','china tops the world for population')
one

['ch', 'to', 'th', 'wo', 'fo', 'po']

In [87]:
result=re.findall(r'@\w+','abc.test@gmail.com, xyz@test.in, test.first@yahoo.com, first.test@rest.biz') 
result

['@gmail', '@test', '@yahoo', '@rest']

In [191]:
result=re.findall(r'\w+.\w+@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@yahoo.com, first.test@rest.biz') 
result

['abc.test@gmail.com',
 'xyz@test.in',
 'test.first@yahoo.com',
 'first.test@rest.biz']

In [84]:
result=re.findall(r'@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@yahoo.com, first.test@rest.biz') 
result

['@gmail.com', '@test.in', '@yahoo.com', '@rest.biz']

In [85]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@yahoo.com, first.test@rest.biz')
result

['com', 'in', 'com', 'biz']

In [86]:
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
result

['12-05-2007', '11-11-2011', '12-01-2009']

In [88]:
result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
result

['2007', '2011', '2009']

In [93]:
result=re.findall(r'[aeiouAEIOU]\w+','Ordinary characters can be used to perform simple exact matches')
result

['Ordinary', 'aracters', 'an', 'used', 'erform', 'imple', 'exact', 'atches']

In [95]:
result=re.findall(r'\b[aeiouAEIOU]\w+','Ordinary characters can be used to perform simple exact matches')
result

['Ordinary', 'used', 'exact']

In [96]:
result=re.findall(r'\b[^aeiouAEIOU]\w+','Ordinary characters can be used to perform simple exact matches')
result

[' characters',
 ' can',
 ' be',
 ' used',
 ' to',
 ' perform',
 ' simple',
 ' exact',
 ' matches']

In [97]:
result=re.findall(r'\b[^aeiouAEIOU ]\w+','Ordinary characters can be used to perform simple exact matches')
result

['characters', 'can', 'be', 'to', 'perform', 'simple', 'matches']

In [102]:
one=re.findall(r'ab{3}','abbbbbbbbb')
one

['abbb']

In [117]:
one=re.findall(r'ab{3,5}c+','abbbbbcccc')
one

['abbbbbcccc']

In [118]:
one=re.findall(r'ab{3,5}d?','abbbbbcccc')
one

['abbbbb']

In [119]:
one=re.findall(r'(ab{3,5}(c.))','abbbbbcccc')
one

[('abbbbbcc', 'cc')]

In [146]:
one=re.findall(r'\d.\s+ab*c*','1.  abbbbbcccc')
one

['1.  abbbbbcccc']

In [150]:
one=re.findall(r'\D','abb4b6bb8cc8cc')
one

['a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c']

In [151]:
one=re.findall(r'\d','abb4b6bb8cc8cc')
one

['4', '6', '8', '8']

In [155]:
one=re.findall(r'[abc]','abbbbbcccc')
one

['a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c']

In [158]:
one=re.findall(r'[a-c]','abbbbbccccdddddddd')
one

['a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c']

In [2]:
import pandas as pd
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller12', 'Jacobson3','Milner4', 'Cooze56','Wendy45'],
        'age': [42, 52, 36, 24, 73],
        'preTestScore': [4, 24, 31, 45, 56],
        'postTestScore': [25, 94, 57, 62, 70]}
raw_data
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
print(df)

  first_name  last_name  age  preTestScore  postTestScore
0      Jason   Miller12   42             4             25
1      Molly  Jacobson3   52            24             94
2       Tina    Milner4   36            31             57
3       Jake    Cooze56   24            45             62
4        Amy    Wendy45   73            56             70

In [3]:
df["Count"]=df.last_name.str.extract(r'[a-zA-z](\d+)')
df

  first_name  last_name  age  preTestScore  postTestScore Count
0      Jason   Miller12   42             4             25    12
1      Molly  Jacobson3   52            24             94     3
2       Tina    Milner4   36            31             57     4
3       Jake    Cooze56   24            45             62    56
4        Amy    Wendy45   73            56             70    45

In [4]:
df[df.first_name.str.contains(r'[J]\w+')]

  first_name last_name  age  preTestScore  postTestScore Count
0      Jason  Miller12   42             4             25    12
3       Jake   Cooze56   24            45             62    56

In [5]:
df.dtypes

first_name       object
last_name        object
age               int64
preTestScore      int64
postTestScore     int64
Count            object
dtype: object

In [9]:
df.age = df.age.astype(str)
df.dtypes

first_name       object
last_name        object
age              object
preTestScore      int64
postTestScore     int64
Count            object
dtype: object

In [11]:
df[df.age.str.contains(r'^[4]')]

  first_name last_name age  preTestScore  postTestScore Count
0      Jason  Miller12  42             4             25    12