## Create A `Series` Object from A Python List

In [1]:
import pandas as pd

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Butter Scotch", "Black current"]

pd.Series(ice_cream)

0        Chocolate
1          Vanilla
2       Strawberry
3    Butter Scotch
4    Black current
dtype: object

In [4]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

***We can also give index explicitly.***

In [16]:
fruits = ["Apple", "Orange", "Watermelon", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]


pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday    Watermelon
Thursday          Grape
Friday        Blueberry
dtype: object

## Create A `Series` Object from a Dictionary

In [6]:
Examples = {"Tiger" : "An animal",
           "Banana" : "A delicious fruit",
           "Red" : "A color"}

pd.Series(Examples)

Tiger             An animal
Banana    A delicious fruit
Red                 A color
dtype: object

## Attributes

In [8]:
animals = ["Tiger", "Lion", "Fox", "Wolf", "Cheetah"]
s = pd.Series(animals)
s

0      Tiger
1       Lion
2        Fox
3       Wolf
4    Cheetah
dtype: object

In [9]:
s.values

array(['Tiger', 'Lion', 'Fox', 'Wolf', 'Cheetah'], dtype=object)

In [10]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
s.dtype

dtype('O')

## Intro to Methods

In [12]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [13]:
s.sum()

8.8

In [14]:
s.product()

18.095480000000006

In [15]:
s.mean()

2.9333333333333336

## Import `Series` with the `read_csv` Method

In [17]:
pokemon = pd.read_csv("pokemon.csv")
pokemon

        Pokemon      Type
0     Bulbasaur     Grass
1       Ivysaur     Grass
2      Venusaur     Grass
3    Charmander      Fire
4    Charmeleon      Fire
5     Charizard      Fire
6      Squirtle     Water
7     Wartortle     Water
8     Blastoise     Water
9      Caterpie       Bug
10      Metapod       Bug
11   Butterfree       Bug
12       Weedle       Bug
13       Kakuna       Bug
14     Beedrill       Bug
15       Pidgey    Normal
16    Pidgeotto    Normal
17      Pidgeot    Normal
18      Rattata    Normal
19     Raticate    Normal
20      Spearow    Normal
21       Fearow    Normal
22        Ekans    Poison
23        Arbok    Poison
24      Pikachu  Electric
25       Raichu  Electric
26    Sandshrew    Ground
27    Sandslash    Ground
28      Nidoran    Poison
29     Nidorina    Poison
..          ...       ...
691   Clauncher     Water
692   Clawitzer     Water
693  Helioptile  Electric
694   Heliolisk  Electric
695      Tyrunt      Rock
696   Tyrantrum      Rock
697      Amaura      Rock
698     Aurorus      Rock
699     Sylveon     Fairy
700    Hawlucha  Fighting
701     Dedenne  Electric
702     Carbink      Rock
703       Goomy    Dragon
704     Sliggoo    Dragon
705      Goodra    Dragon
706      Klefki     Steel
707    Phantump     Ghost
708   Trevenant     Ghost
709   Pumpkaboo     Ghost
710   Gourgeist     Ghost
711    Bergmite       Ice
712     Avalugg       Ice
713      Noibat    Flying
714     Noivern    Flying
715     Xerneas     Fairy
716     Yveltal      Dark
717     Zygarde    Dragon
718     Diancie      Rock
719       Hoopa   Psychic
720   Volcanion      Fire

[721 rows x 2 columns]

In [19]:
#If we do this we get a Dataframe not a series so to extract only the first column we will make use of usecols and squeeze to convert into a Series
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

## The `.head()` and `.tail()` Methods

In [20]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

***By default we get the first five records***

In [21]:
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [23]:
pokemon.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

## The `.sort_values()` Method

In [24]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [26]:
pokemon.sort_values(ascending = False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [28]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

***The sort_values by itself does not modify the existing series , to make the operations like sort_values permanent we make use of
inplace parameter***

In [29]:
pokemon.sort_values(inplace = True)
pokemon.head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [30]:
#after using implace paramater you can see that the values have been sorted permanently in the series
pokemon

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon, Length: 721, dtype: object

## The `.sort_index()` Method

In [35]:
pokemon = pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [37]:
pokemon.sort_index(ascending = False).head(5)

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
Name: Pokemon, dtype: object

## Python's `in` Keyword

In [38]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [40]:
"Bulbasaur" in pokemon.values

True

In [41]:
"Ash" in pokemon.values

False

In [42]:
712 in pokemon.index

True

In [43]:
999 in pokemon.index

False

In [44]:
pokemon.shape

(721,)

## Extract Values by Index Position

In [46]:
pokemon[1]

'Ivysaur'

In [47]:
pokemon[[100, 200, 300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

In [49]:
pokemon[50:61]

50      Dugtrio
51       Meowth
52      Persian
53      Psyduck
54      Golduck
55       Mankey
56     Primeape
57    Growlithe
58     Arcanine
59      Poliwag
60    Poliwhirl
Name: Pokemon, dtype: object

In [50]:
pokemon[:10]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [51]:
pokemon[-30:]

691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, dtype: object

In [52]:
pokemon[-30 : -10]

691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
Name: Pokemon, dtype: object

## Extract Values by Index Label

In [53]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [54]:
pokemon[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [55]:
pokemon["Bulbasaur"]

'Grass'

In [56]:
pokemon["Ditto"]

'Normal'

In [57]:
pokemon[["Charizard", "Jolteon"]]

Pokemon
Charizard        Fire
Jolteon      Electric
Name: Type, dtype: object

In [58]:
pokemon[["Blastoise", "Venusaur", "Meowth"]]

Pokemon
Blastoise     Water
Venusaur      Grass
Meowth       Normal
Name: Type, dtype: object

In [59]:
pokemon["Bulbasaur" : "Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

## The `.value_counts()` Method

In [60]:
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [61]:
pokemon.value_counts().sum()

721

In [64]:
pokemon.value_counts(ascending = True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64